.Select {
  min-width: 200px;
}

.value {
  font-weight: bold;
  color: #333;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.menu {
  font-weight: bold;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.selected {
  background-color: lightblue;

}